* {
  margin: 0;
  padding: 0;
}

.white {
  color: #fff;
}

.gray {
  color: #9d9999;
}

.orange {
  color: #ff4422;
}

.fsmall {
  font-size: 10px;
}

.mobile-nav {
  display: none;
}

.nav1 {
  background-color: #131313;
  color: #9f9f9f;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.nav1 ul, .nav2 ul{
  list-style: none;
  display: flex;
  padding: 10px;
}

.nav1 ul li, .nav2 ul li {
  padding: 10px;
}

.nav2 {
  background-color: #fff;
  color: #aaa;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 15px;
}

.nav2 .nav-search {
  padding-top: 20px;
  padding-right: 15px;
  text-align: center;
}

.nav-search:hover {
  border: solid 1px darkgray;
}

main {
  margin: 5px;
}

section {
  display: grid;
  grid-template-columns: 65% 30%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
  "section1 section2"
  "section1 section3";
}

.section1 {
  grid-area: section1;
  max-height: 380px; 
  background:
    linear-gradient(
      180deg,
      rgba(148, 67, 20, 0.6) 30%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('img/bitcoin.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section1 img {
  max-height: 100px;
  align-self: flex-start;
  padding: 25px;
}

.section1 div, {
  padding: 25px;
}

.showcase-title {
  font-size: 50px;
  font-weight: 700;
}

.section1 ul, .section2 ul, .section3 ul {
  display: flex;
  list-style: none;
}

.section1 ul li, .section2 ul li, .section3 ul li {
  margin: 0 10px;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.section2, .section3 {
  background:
  linear-gradient(
    180deg,
    rgba(148, 67, 20, 0.6) 30%,
    rgba(0, 0, 0, 1) 100%
  ),
  url('img/flag.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 190px;
}

.section2 > *, .section3 > * {
  padding: 10px;
}

.latest-news {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.news-container {
  max-width: 300px;
  margin: 0 auto;
}

.news-container img {
  max-height: 135px;
  width: 270px;
} 

/* MEDIA QUERY */
@media only screen and (max-width: 1024px) {
  .latest-news {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  }

  .nav1, .nav2 {
    display: none;
  }

  section {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-template-areas: 
    "section1"
    "section2"
    "section3";
  }

  .section1 img {
    height: 50px;
    align-self: flex-start;
    padding: 15px;
  }

  .showcase-title {
    font-size: 15px;
    font-weight: 700;
  }

  .latest-news {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .news-container {
    display: flex;
    padding: 5px;
    width: 100%;
  }

}

/* END OF MEDIA QUERY */
